<!DOCTYPE html>
<link rel="stylesheet" href="../static/simple.css" />

<html>
<h3>bookcase</h3>
<h4>About</h4>
<p>A very, very simple project I threw together in Django one morning
    just to practice some basic stuff. View books.
    Add  and delete. See them listed by author.</p>
<h4>Contact</h4>
Brandon Rupert <a href="mailto:barupert@gmail.com">barupert@gmail.com</a>




<h4>navigation</h4>


<ul>
    <li><a href='/books/'>see all books</a></li>
    <li><a href='/authors/'>see all authors</li>
    <li><a href='/home/'>home</a></li>
    <li><a href='/add/'>add</a></li>
</ul>
</html>
